<div class="uk-margin-bottom">
  <div class="uk-card uk-card-default">
    <div class="uk-card-media-top uk-cover-container">
      <canvas width="334" height="167"></canvas>
      <%= image_tag "/jclubmark.png", class: "uk-cover"%>
    </div>
    <div class="uk-card-body">
      <h3 class="uk-card-title">シーズン最終盤</h3>
      <p>サッカーJリーグもいよいよ最終盤。優勝, 昇格, 残留に向けてチームにメッセージを送ってみましょう！</p>
    </div>
  </div>
</div>
<div class="uk-margin-bottom">
  <div class="uk-card uk-card-default">
    <div class="uk-card-media-top uk-cover-container">
      <canvas width="334" height="167"></canvas>
      <%= image_tag "/mountain.jpg", class: "uk-cover"%>
    </div>
    <div class="uk-card-body">
      <h3 class="uk-card-title">Media Top</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
    </div>
  </div>
</div>
<div class="uk-margin-bottom">
  <div class="uk-card uk-card-default">
    <div class="uk-card-media-top uk-cover-container">
      <canvas width="334" height="167"></canvas>
      <%= image_tag "/mountain.jpg", class: "uk-cover"%>
    </div>
    <div class="uk-card-body">
      <h3 class="uk-card-title">Media Top</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
    </div>
  </div>
</div>
<div class="uk-margin-bottom">
  <div class="uk-card uk-card-default">
    <div class="uk-card-media-top uk-cover-container">
      <canvas width="334" height="167"></canvas>
      <%= image_tag "/mountain.jpg", class: "uk-cover"%>
    </div>
    <div class="uk-card-body">
      <h3 class="uk-card-title">Media Top</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
    </div>
  </div>
</div>