@import '~uikit/dist/css/uikit';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  height: 90px;
}

.buttons {
  a {
    text-decoration: none;
  }
}

.article:hover {
  background: #f5f5f5;
}

.article {
  position: relative;
}

.linkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}